.contenedor {
    margin: 10px auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    background-color:  black;
}

img {
    width: 180px;
    height: 120px;
    border-radius: 50px 200px / 250px 80px;
    box-shadow: 5px 10px 10px 5px ;
}

li{
    padding-top: 10px;
    text-align:center;
    list-style: none;
}

.item {
    height: 300px;
    width: 180px;
    margin: 20px;
    padding: 20px;
    display: inline-block;
    line-height: 15px;
    background-color: slategrey;
    border-radius: 50px 200px / 250px 80px;
    box-shadow: 5px 10px 20px 2px yellow;
}